@using CMS.Models.ViewModels
@model DevelopmentHistoryViewModel

<!-- Banner -->
@Html.Partial("~/Views/Shared/_BannerAboutUs.cshtml")

<!-- CONTENT -->
<div class="container about" style="margin-bottom: 40px">
    <div class="row">
        <!-- Sidebar -->
        @Html.Partial("~/Views/Shared/_SidebarAboutUs.cshtml", "DevelopmentHistory")

        <!-- Main -->
        <div class="col-md-9 col-lg-9 order-1 order-md-2 mb-5 mb-md-0">
            <section class="section pb-lg-0" style="padding-top: 30px;">
                <div class="container">
                    <div class="row justify-content-md-center">
                        <div class="col">
                            <div class="timeline" id="timeline">
                                <div class="timeline-body">
                                    @if (Model.Components != null)
                                    {
                                        int i = 0;
                                        foreach (var component in Model.Components)
                                        {
                                            i++;
                                            string position = (i % 2 == 0) ? "right" : "left";

                                            <article class="timeline-box blog-post @position appear-animation" data-appear-animation="fadeIn">
                                                <div class="timeline-box-arrow"></div>
                                                <h2 class="font-weight-semibold text-4">
                                                    <a class="link-color-dark" title="@Html.Raw(component.MainTitle)" style="cursor:pointer">
                                                        <b class="text-5">@Html.Raw(component.MainTitle)</b>
                                                    </a>
                                                </h2>
                                                <header class="blog-post-header mb-4">
                                                    @*<img class="img-fluid" src="" />*@
                                                </header>
                                                <p>@Html.Raw(component.Content)</p>
                                            </article>
                                        }
                                    }


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>