@using CMS.Models.ViewModels
@model AboutUsViewModel

<!-- Banner -->
@Html.Partial("~/Views/Shared/_BannerAboutUs.cshtml")

<!-- CONTENT -->
<div class="container about" style="margin-bottom: 40px">
    <div class="row">
        <!-- Sidebar -->
        @Html.Partial("~/Views/Shared/_SidebarAboutUs.cshtml", "AboutUs")

        <!-- Main -->
        <div class="col-md-9 col-lg-9 order-1 order-md-2 mb-5 mb-md-0">
            <section class="section pb-lg-0" style="padding-top: 30px;">
                <div class="container">
                    <div class="row">
                        <!-- Tầm nhìn & Sứ mệnh -->
                        <div class="col-md-6 order-2 order-md-1">
                            <!-- Tầm nhìn -->
                            @if (Model.Vision != null)
                            {
                                <div class="overflow-hidden mb-3">
                                    <h2 class="font-weight-bold text-5 mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="200">
                                        <span class="title text-uppercase">
                                            @Html.Raw(Model.Vision.MainTitle)
                                        </span>
                                    </h2>
                                </div>
                                <div class="overflow-hidden mb-3">
                                    <p class="mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="600">
                                        @Html.Raw(Model.Vision.Content)
                                    </p>
                                </div>
                            }

                            <!-- Sứ mệnh -->
                            @if (Model.Mission != null)
                            {
                                <div class="overflow-hidden mb-3" style="margin-top: 30px">
                                    <h2 class="font-weight-bold text-5 mb-0 appear-animation float-right" data-appear-animation="maskUp" data-appear-animation-delay="200">
                                        <span class="title text-uppercase">
                                            @Html.Raw(Model.Mission.MainTitle)
                                        </span>
                                    </h2>
                                </div>
                                <div class="overflow-hidden mb-3">
                                    <p class="mb-0 appear-animation text-right" data-appear-animation="maskUp" data-appear-animation-delay="600">
                                        @Html.Raw(Model.Mission.Content)
                                    </p>
                                </div>
                            }
                        </div>

                        <!-- Image -->
                        @if (Model.Image != null)
                        {
                            <div class="col-md-6 order-1 order-md-2 overflow-hidden">
                                <img style="margin: 30px 0px" loading="lazy" src="@Model.Image.LinkMedia" class="img-fluid appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="0" title="@Html.Raw(Resources.NamThuanGroup)" alt="@Html.Raw(Resources.NamThuanGroup)" />
                            </div>
                        }

                        <!-- Giá trị cốt lõi -->
                        @if (Model.CoreValues != null)
                        {
                            <div class="col-md-12 order-3" style="margin-top: 30px">
                                <div class="overflow-hidden mb-3">
                                    <h2 class="font-weight-bold text-5 mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="200">
                                        <span class="title text-uppercase">@Html.Raw(Model.CoreValues.MainTitle)</span>
                                    </h2>
                                </div>
                                <div class="overflow-hidden mb-3">
                                    @Html.Raw(Model.CoreValues.Content)
                                </div>
                            </div>
                        }

                        <!-- Tầm nhìn doanh nghiệp -->
                        @if (Model.BrandingVision != null)
                        {
                            <div class="col-md-12 order-3" style="margin-top: 30px">
                                <div class="overflow-hidden mb-3">
                                    <h2 class="font-weight-bold text-5 mb-0 appear-animation float-right" data-appear-animation="maskUp" data-appear-animation-delay="200">
                                        <span class="title text-uppercase">@Html.Raw(Model.BrandingVision.MainTitle)</span>
                                    </h2>
                                </div>
                                <div class="overflow-hidden mb-3">
                                    @Html.Raw(Model.BrandingVision.Content)
                                </div>
                            </div>
                        }

                        <!-- Chiến lược phát triển -->
                        @if (Model.PlanningVision != null)
                        {
                            <div class="col-md-12 order-3" style="margin-top: 30px">
                                <div class="overflow-hidden mb-3">
                                    <h2 class="font-weight-bold text-5 mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="200">
                                        <span class="title text-uppercase">@Html.Raw(Model.PlanningVision.MainTitle)</span>
                                    </h2>
                                </div>
                                <div class="overflow-hidden mb-3">
                                    @Html.Raw(Model.PlanningVision.Content)
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>