@using CMS.Models.ViewModels
@model HomeViewModel

<!-- CatText -->
@helper catText(ComponentViewModel component)
{
    if (component != null)
    {
        <div class="col-md-6 col-lg-4 col-xl-3 p-0">
            <div class="card bg-primary-2 border-0 h-100 py-2">
                <div class="card-body appear-animation" data-appear-animation="fadeInRightShorter">
                    <span class="top-sub-title text-color-light opacity-5 text-uppercase">@Html.Raw(component.SubTitle)</span>
                    <h2 class="font-weight-bold text-color-light text-5 mb-3 text-uppercase">
                        @Html.Raw(component.MainTitle)
                    </h2>
                    <p class="text-color-light opacity-7 mb-0">
                        @Html.Raw(component.Content)
                    </p>
                </div>
            </div>
        </div>
    }
}

<!-- CatImage -->
@helper catImage(ComponentViewModel component, string text, string animateIn, string animateOut, double timeout)
{
    if (component != null)
    {
        <div class="col-md-6 col-lg-4 col-xl-3 p-0">
            <div class="owl-carousel owl-theme dots-style-2 nav-style-2" data-plugin-options="{'items': 1, 'dots': true, 'nav': false, 'animateIn': '@animateIn', 'animateOut': '@animateOut', 'autoplay': true, 'autoplayTimeout': @timeout, 'autoplayHoverPause': true}">
                @foreach (var image in component.ComponentImages)
                {
                    <div><img src="@image.Link" loading="lazy" class="img-fluid" alt="@Html.Raw(text)" title="@Html.Raw(text)"></div>
                }
            </div>
        </div>
    }
}

<!-- Slide -->
<div class="slider-container slider-container-height-550 rev_slider_wrapper">
    <div id="revolutionSlider"
         class="slider rev_slider"
         data-version="5.4.7"
         data-plugin-revolution-slider
         data-plugin-options="{'delay': 9000, 'gridwidth': [1140,960,720,540], 'gridheight': [550,550,550,550], 'responsiveLevels': [4096,1200,992,576], 'parallax': { 'type': 'mouse', 'origo': 'slidercenter', 'speed': 2000, 'levels': [2,3,4,5,6,7,12,16,10,50], 'disable_onmobile': 'on' }, 'navigation' : {'arrows': { 'enable': true, 'hide_under': 767, 'style': 'slider-arrows-style-1' }, 'bullets': {'enable': true, 'style': 'bullets-style-1', 'h_align': 'center', 'v_align': 'bottom', 'space': 7, 'v_offset': 25, 'h_offset': 0}}}">
        <ul>
            <li class="slide-overlay slide-overlay-level-3"
                data-transition="fade">
                <img src="~/Content/Frontend/img/slides/banner/slide1.jpg"
                     alt=""
                     data-bgposition="50% 20%"
                     data-bgfit="cover"
                     data-bgrepeat="no-repeat"
                     class="rev-slidebg"
                     loading="lazy" />

                <div class="tp-caption bg-primary"
                     data-x="['140','140','54','54']"
                     data-y="['145','145','180','180']"
                     data-start="1500"
                     data-width="['20','20','13','13']"
                     data-height="['145','145','92','92']"
                     data-transform_in="x:[-100%];opacity:0;s:500;"
                     data-transform_idle="skX:19deg"
                     data-transform_out="x:[-100%];opacity:0;s:500;"></div>

                <div class="tp-caption text-color-light font-primary font-weight-bold"
                     data-x="['160','160','65','65']"
                     data-y="['150','150','180','180']"
                     data-start="1000"
                     data-fontsize="['28','28','20','20']"
                     data-transform_in="opacity:0;s:300;"
                     data-transform_out="opacity:0;s:300;">
                    CHÚNG TÔI LÀ DOANH NGHIỆP
                </div>

                <div class="tp-caption text-color-light font-weight-bold font-primary"
                     data-x="['190','190','90','90']"
                     data-y="['195','195','210','210']"
                     data-start="1100"
                     data-fontsize="['110','110','65','65']"
                     data-lineheight="['103','103','73','73']"
                     data-transform_in="rY:95deg;opacity:0;s:600;e:Power4.easeIn;"
                     data-transform_out="rY:95deg;opacity:0;s:600;e:Power4.easeIn;">
                    M
                </div>

                <div class="tp-caption text-color-light font-weight-bold font-primary"
                     data-x="['295','295','153','153']"
                     data-y="['195','195','210','210']"
                     data-start="1200"
                     data-fontsize="['110','110','65','65']"
                     data-lineheight="['103','103','73','73']"
                     data-transform_in="rY:95deg;opacity:0;s:600;e:Power4.easeIn;"
                     data-transform_out="rY:95deg;opacity:0;s:600;e:Power4.easeIn;">
                    A
                </div>

                <div class="tp-caption text-color-light font-weight-bold font-primary"
                     data-x="['370','370','195','195']"
                     data-y="['195','195','210','210']"
                     data-start="1300"
                     data-fontsize="['110','110','65','65']"
                     data-lineheight="['103','103','73','73']"
                     data-transform_in="rY:95deg;opacity:0;s:600;e:Power4.easeIn;"
                     data-transform_out="rY:95deg;opacity:0;s:600;e:Power4.easeIn;">
                    Y
                </div>

                <div class="tp-caption text-color-light font-weight-bold font-primary"
                     data-x="['490','490','250','250']"
                     data-y="['195','195','210','210']"
                     data-start="1400"
                     data-fontsize="['110','110','65','65']"
                     data-lineheight="['103','103','73','73']"
                     data-transform_in="rY:95deg;opacity:0;s:600;e:Power4.easeIn;"
                     data-transform_out="rY:95deg;opacity:0;s:600;e:Power4.easeIn;">
                    M
                </div>

                <div class="tp-caption text-color-light font-weight-bold font-primary"
                     data-x="['595','595','315','315']"
                     data-y="['195','195','210','210']"
                     data-start="1500"
                     data-fontsize="['110','110','65','65']"
                     data-lineheight="['103','103','73','73']"
                     data-transform_in="rY:95deg;opacity:0;s:600;e:Power4.easeIn;"
                     data-transform_out="rY:95deg;opacity:0;s:600;e:Power4.easeIn;">
                    Ặ
                </div>

                <div class="tp-caption text-color-light font-weight-bold font-primary"
                     data-x="['676','676','365','365']"
                     data-y="['195','195','210','210']"
                     data-start="1600"
                     data-fontsize="['110','110','65','65']"
                     data-lineheight="['103','103','73','73']"
                     data-transform_in="rY:95deg;opacity:0;s:600;e:Power4.easeIn;"
                     data-transform_out="rY:95deg;opacity:0;s:600;e:Power4.easeIn;">
                    C
                </div>

                <!-- <div
                  class="tp-caption text-color-light font-weight-bold font-primary"
                  data-x="['752','664','460','369']"
                  data-y="['195','195','195','210']"
                  data-start="1700"
                  data-fontsize="['110','110','70','50']"
                  data-lineheight="['103','103','103','73']"
                  data-transform_in="rY:95deg;opacity:0;s:600;e:Power4.easeIn;"
                  data-transform_out="rY:95deg;opacity:0;s:600;e:Power4.easeIn;"
                >
                  N
                </div>

                <div
                  class="tp-caption text-color-light font-weight-bold font-primary"
                  data-x="['842','754','517','412']"
                  data-y="['195','195','195','210']"
                  data-start="1800"
                  data-fontsize="['110','110','70','50']"
                  data-lineheight="['103','103','103','73']"
                  data-transform_in="rY:95deg;opacity:0;s:600;e:Power4.easeIn;"
                  data-transform_out="rY:95deg;opacity:0;s:600;e:Power4.easeIn;"
                >
                  C
                </div>

                <div
                  class="tp-caption text-color-light font-weight-bold font-primary"
                  data-x="['922','834','567','452']"
                  data-y="['195','195','195','210']"
                  data-start="1900"
                  data-fontsize="['110','110','70','50']"
                  data-lineheight="['103','103','103','73']"
                  data-transform_in="rY:95deg;opacity:0;s:600;e:Power4.easeIn;"
                  data-transform_out="rY:95deg;opacity:0;s:600;e:Power4.easeIn;"
                >
                  Y
                </div> -->

                <div class="tp-caption text-color-light font-primary font-weight-normal"
                     data-x="['700','700','322','322']"
                     data-y="['310','310','300','300']"
                     data-start="2000"
                     data-fontsize="['38','38','30','30']"
                     data-transform_in="y:[100%];opacity:0;s:500;"
                     data-transform_out="y:[100%];opacity:0;s:500;">
                    HÀNG ĐẦU
                </div>

                <a class="tp-caption btn btn-rounded btn-primary font-weight-semibold"
                   href="#start"
                   data-hash
                   data-hash-offset="65"
                   data-x="center"
                   data-y="center"
                   data-voffset="['150','150','150','100']"
                   data-start="2100"
                   data-whitespace="nowrap"
                   data-fontsize="['13','13','13','13']"
                   data-paddingtop="['13','13','13','13']"
                   data-paddingbottom="['13','13','13','13']"
                   data-paddingleft="['65','65','65','75']"
                   data-paddingright="['65','65','65','75']"
                   data-transform_in="y:[100%];s:500;"
                   data-transform_out="y:[100%];s:500;"
                   data-mask_in="x:0px;y:0px;">XEM GIỚI THIỆU</a>
            </li>
            <li data-transition="fade">
                <img src="~/Content/Frontend/img/slides/transparent.png"
                     alt=""
                     class="rev-slidebg bg-dark-5"
                     loading="lazy" />

                <div class="tp-caption"
                     data-x="left"
                     data-hoffset="['0','0','0','-60']"
                     data-y="center"
                     data-start="1000"
                     data-width="50vw"
                     data-height="550"
                     data-basealign="slide"
                     data-transform_in="opacity:0;s:500;"
                     data-transform_out="opacity:0;s:500;"
                     data-plugin-image-background
                     data-plugin-options="{'imageUrl': '/Content/Frontend/img/slides/banner/slide2.jpg'}"></div>

                <div class="tp-caption text-color-light font-primary font-weight-thin"
                     data-x="right"
                     data-hoffset="30"
                     data-y="center"
                     data-voffset="['-95','-95','-80','-80']"
                     data-start="1800"
                     data-fontsize="['22','22','18','18']"
                     data-transform_in="opacity:0;s:300;"
                     data-transform_out="opacity:0;s:300;"
                     data-transform_idle="opacity:0.5">
                    CHÚNG TÔI ĐẢM BẢO SỰ
                </div>

                <div class="tp-caption text-color-light font-primary font-weight-bold letter-spacing-5"
                     data-x="right"
                     data-hoffset="23"
                     data-y="center"
                     data-voffset="['-35','-35','-35','-35']"
                     data-start="1000"
                     data-fontsize="['50','50','50','50']"
                     data-lineheight="['90','80','60','60']"
                     data-transform_in="y:[-100%];s:500;"
                     data-transform_out="y:[-100%];s:500;"
                     data-mask_in="x:0px;y:0px;">
                    CHUYÊN NGHIỆP
                </div>

                <div class="tp-caption text-color-light font-secondary font-weight-light letter-spacing-n1"
                     data-x="right"
                     data-hoffset="30"
                     data-y="center"
                     data-voffset="['35','35','10','10']"
                     data-start="1300"
                     data-fontsize="['30','30','24','24']"
                     data-lineheight="['40','40','27','27']"
                     data-transform_in="x:[100%];s:500;"
                     data-transform_out="y:[-100%];s:500;"
                     data-mask_in="x:0px;y:0px;">
                    Trong quy trình sản xuất
                </div>

                <a class="tp-caption btn btn-outline btn-rounded btn-primary btn-icon-effect-1 font-weight-semibold text-color-light"
                   href="#"
                   data-x="right"
                   data-hoffset="30"
                   data-y="center"
                   data-voffset="['100','100','70','70']"
                   data-start="1600"
                   data-fontsize="['13','13','13','13']"
                   data-paddingtop="['13','13','13','13']"
                   data-paddingbottom="['13','13','13','13']"
                   data-paddingleft="['65','65','65','65']"
                   data-paddingright="['65','65','65','65']"
                   data-transform_in="x:[100%];s:500;"
                   data-transform_out="y:[-100%];s:500;"
                   data-mask_in="x:0px;y:0px;">
                    <span class="wrap">
                        <span>XEM TIÊU CHUẨN CHẤT LƯỢNG</span>
                        <i class="fas fa-angle-right"></i>
                    </span>
                </a>
            </li>
        </ul>
    </div>
</div>

<!-- Choose Us -->
<section class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-duration="1s">
    <div class="container-fluid">
        <div class="row">
            @foreach (var component in Model.GioiThieuDacDiem.Components.OrderBy(p => p.SortOrder))
            {
                if (!string.IsNullOrEmpty(component.MainTitle))
                {
                    @catText(component)
                }
                else
                {
                    @catImage(component, component.MainTitle + " " + component.SubTitle, component.AnimateIn, component.AnimateOut, component.Timeout)
                }
            }
        </div>
    </div>
</section>

<!-- About Us -->
<section class="section" style="padding-bottom: 15px;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="appear-animation"
                     data-appear-animation="fadeInUpShorter"
                     data-appear-animation-delay="100">
                    <span class="top-sub-title text-color-primary text-uppercase">@Html.Raw(Model.GioiThieuNamThuanGroup.Components[0].SubTitle)</span>

                    <h2 class="word-rotator letters type font-weight-bold text-5 mb-3">
                        <span class="text-uppercase">@Html.Raw(Model.GioiThieuNamThuanGroup.Components[0].MainTitle)</span>
                    </h2>
                </div>

                @Html.Raw(Model.GioiThieuNamThuanGroup.Components[0].Content)

                <div class="d-block d-sm-inline-block text-center appear-animation"
                     data-appear-animation="fadeInUpShorter"
                     data-appear-animation-delay="700">
                    <a href="/about-us"
                       class="btn btn-outline btn-rounded btn-primary btn-v-3 btn-h-4 font-weight-bold mt-3 text-0">
                        @Html.Raw(Model.GioiThieuNamThuanGroup.Components[0].TextButton)
                    </a>
                    <span class="d-block mt-3">
                        @Html.Raw(Resources.Or)
                        <a class="text-underline ml-2 text-0" href="@Html.Raw(Model.GioiThieuNamThuanGroup.Components[0].Link)">
                            @Html.Raw(Resources.ContactUs)
                        </a>
                    </span>
                </div>
            </div>
            <div class="col-10 col-md-5 mx-auto ml-md-auto appear-animation"
                 data-appear-animation="fadeInUpShorter"
                 data-appear-animation-delay="500">
                <div class="card card-style-4 border-0 absolute-y-center">
                    <div class="image-frame rounded">
                        <span class="image-frame-wrapper">
                            <img src="~/Content/Frontend/img/about/background-video.jpg" loading="lazy" class="card-img-top rounded" alt="@Html.Raw(Resources.CompanyName)" title="@Html.Raw(Resources.CompanyName)" />
                            <span class="image-frame-info image-frame-info-show flex-column align-items-center">
                                <a href="@Html.Raw(Model.GioiThieuNamThuanGroup.Components[0].LinkMedia)" class="popup-vimeo">
                                    <span class="icon-box icon-box-style-4 hover-anim hover-anim-effect-1">
                                        <span class="icon-box-icon bg-primary">
                                            <i class="fas fa-play text-5"></i>
                                        </span>
                                    </span>
                                </a>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Counter -->
    <div class="counters container">
        <div class="row">
            @foreach (var component in Model.Counter.Components)
            {
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="counter text-dark appear-animation"
                         data-appear-animation="fadeInLeftShorter"
                         data-appear-animation-delay="100">
                        <i class="@Html.Raw(component.LinkMedia)"></i>
                        <strong data-to="@Html.Raw(component.SubTitle)">0</strong>
                        <label class="font-weight-light">@Html.Raw(component.MainTitle)</label>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<!-- Categories Product -->
<section class="section bg-primary appear-animation"
         data-appear-animation="fadeIn">
    <div class="container">
        <div class="row text-center mb-4">
            <div class="col">
                <div class="overflow-hidden">
                    <span class="d-block top-sub-title text-color-light appear-animation text-uppercase"
                          data-appear-animation="maskUp"
                          data-appear-animation-delay="200">
                        @Html.Raw(Resources.Category)
                    </span>
                </div>
                <div class="overflow-hidden mb-2">
                    <h2 class="text-color-light font-weight-bold mb-0 appear-animation text-uppercase"
                        data-appear-animation="maskUp"
                        data-appear-animation-delay="400">
                        @Html.Raw(Resources.ProductType)
                    </h2>
                </div>
            </div>
        </div>
        <div class="row appear-animation"
             data-appear-animation="fadeInUpShorter"
             data-appear-animation-delay="600">
            <div class="col">
                <div class="owl-carousel owl-theme carousel-items-border-divider nav-style-3 nav-color-light"
                     data-plugin-options="{'loop': true, 'autoplay': false, 'items': 4, 'nav': true, 'dots': false, 'autoplayHoverPause': true, 'autoHeight': true}">
                    @foreach (var category in Model.ProductCategories)
                    {
                        <div class="px-3">
                            <a href="/product-categories/@category.Id" title="@category.Name">
                                <div class="icon-box-animation-1 icon-box-animation-1-light">
                                    <div class="icon-box icon-box-style-5 p-4">
                                        <div class="icon-box-icon mb-3">
                                            <img style="width: 70px"
                                                 src="@Html.Raw(category.Image)"
                                                 title="@Html.Raw(category.Name)"
                                                 alt="@Html.Raw(category.Name)"
                                                 loading="lazy" />
                                        </div>
                                        <div class="icon-box-info">
                                            <div class="icon-box-info-title">
                                                <h4 class="text-color-light mb-0 text-uppercase">@Html.Raw(category.Name)</h4>
                                            </div>
                                            @*<p class="text-color-light font-primary">
                                                    @Html.Raw("55 Sản phẩm")
                                                </p>*@
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Feature Product -->
<section class="section pt-5 pb-0">
    <div class="container">
        <div class="row align-items-end mb-5">
            <div class="col-md-3 mb-4 mb-md-0">
                <div class="overflow-hidden mb-2">
                    <h2 class="font-weight-bold mb-0 appear-animation text-uppercase"
                        style="font-size: 1.4rem"
                        data-appear-animation="maskUp">
                        @Html.Raw(Resources.FeaturedProduct)
                    </h2>
                </div>
                <!-- <div class="overflow-hidden">
                  <p
                    class="text-color-light-3 mb-0 appear-animation"
                    data-appear-animation="maskUp"
                    data-appear-animation-delay="200"
                  >
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  </p>
                </div> -->
            </div>
            <div class="col-md-9 appear-animation"
                 data-appear-animation="fadeInRightShorter"
                 data-appear-animation-delay="400">
                <ul class="nav sort-source custom-nav-style-1 justify-content-center justify-content-md-end"
                    data-sort-id="portfolio"
                    data-option-key="filter"
                    data-plugin-options="{'layoutMode': 'masonry', 'filter': '*'}">
                    <li class="nav-item" data-option-value="*">
                        <a class="nav-link active pl-3 text-uppercase" href="#" title="@Html.Raw(Resources.ShowAll)">@Html.Raw(Resources.ShowAll)</a>
                    </li>
                    @foreach (var category in Model.ProductCategories.Where(p => p.Featured == true))
                    {
                        <li class="nav-item" data-option-value=".@category.Id">
                            <a class="nav-link text-uppercase" href="#" title="@Html.Raw(category.Name)">@category.Name</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col p-0">
                <div class="sort-destination-loader sort-destination-loader-showing">
                    <div class="portfolio-list sort-destination lightbox"
                         data-plugin-options="{'delegate': 'a', 'type': 'image', 'gallery': {'enabled': true}}"
                         data-sort-id="portfolio">
                        @{
                            int i = 0;
                        }
                        @foreach (var product in Model.Products)
                        {
                            i++;
                            string typeClass = (i != 9) ? "col-sm-4 col-md-4 col-lg-1-5" : "col-lg-2-5";

                            <div class="@typeClass p-0 isotope-item @product.CategoryId">
                                <div class="portfolio-item appear-animation"
                                     data-appear-animation="fadeInUpShorter"
                                     data-appear-animation-delay="200">
                                    <div class="image-frame image-frame-style-1 image-frame-effect-1">
                                        <div class="image-frame-wrapper">
                                            <img class="img-fluid" src="@Html.Raw(product.Image)" loading="lazy" alt="@Html.Raw(product.Name)" title="@Html.Raw(product.Name)">
                                            <div class="image-frame-info flex-column align-items-center">
                                                <h3 class="text-color-light font-weight-bold text-4 mb-2">@Html.Raw(product.Name)</h3>
                                                <div class="category text-color-light mb-4">@Html.Raw(product.CategoryName)</div>
                                                <a href="@Html.Raw(product.Image)"
                                                   class="btn btn-primary btn-rounded btn-v-2 btn-h-2 text-color-light font-weight-semibold"
                                                   title="@Html.Raw(product.Name)">
                                                    <i class="fas fa-search"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Quy trình sản xuất -->
@if (Model.QuyTrinhSanXuat != null)
{
    <div class="section bg-light-5" style="padding-bottom: 0px;">
        <div class="container">
            <div class="row text-center mb-5">
                <div class="col">
                    <div class="overflow-hidden mb-2">
                        <h2 class="font-weight-bold mb-0 appear-animation text-uppercase"
                            data-appear-animation="maskUp"
                            data-appear-animation-delay="200">
                            @Html.Raw(Resources.ProductionProcess)
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid mt-3">
            <div class="row justify-content-center">
                <div class="col-md-12 appear-animation"
                     data-appear-animation="fadeInUpShorter">
                    <div class="row">
                        @foreach (var component in Model.QuyTrinhSanXuat.Components)
                        {
                            string imageStyle = "image-frame-style-" + ((component.SortOrder % 2 == 0) ? "3" : "4");

                            <div class="col-md-3 mb-5">
                                <div class="icon-box icon-box-style-5 appear-animation animated fadeInRightShorter appear-animation-visible" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="300">
                                    <div class="icon-box-icon bg-primary hover-anim hover-anim-effect-1">
                                        <img src="@component.Icon" loading="lazy" class="img-fluid" alt="@Html.Raw(component.MainTitle)" title="@Html.Raw(component.MainTitle)" />
                                    </div>
                                    <div class="icon-box-info">
                                        <div class="icon-box-info-title">
                                            <h4 class="text-uppercase">@Html.Raw(component.MainTitle)</h4>
                                        </div>
                                        <div class="image-frame @imageStyle">
                                            <img src="@component.LinkMedia" loading="lazy" class="img-fluid" alt="@Html.Raw(component.MainTitle)" title="@Html.Raw(component.MainTitle)">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<!-- Quy trình kiểm soát chất lượng -->
@if (Model.QuyTrinhKiemSoatChatLuong != null)
{
    <div class="section bg-light" style="padding-bottom: 0px;">
        <div class="container">
            <div class="row text-center mb-5">
                <div class="col">
                    <div class="overflow-hidden mb-2">
                        <h2 class="font-weight-bold mb-0 appear-animation text-uppercase"
                            data-appear-animation="maskUp"
                            data-appear-animation-delay="200">
                            @Html.Raw(Resources.QualityControlProcess)
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid mt-3">
            <div class="row justify-content-center">
                <div class="col-md-12 appear-animation"
                     data-appear-animation="fadeInUpShorter">
                    <div class="row">
                        <div class="col">
                            <div class="steps steps-primary steps-style-2">
                                <div class="dots appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="1200">
                                    <img class="dots-mask" src="~/Content/Frontend/img/svg/steps-dots-bg-light.svg" loading="lazy" alt="Quy trình kiểm soát chất lượng" title="Quy trình kiểm soát chất lượng" />
                                    <div class="dots-color"></div>
                                    <div class="dots-color-dark"></div>
                                </div>
                                @foreach (var component in Model.QuyTrinhKiemSoatChatLuong.Components)
                                {
                                    <div class="item appear-animation" data-appear-animation="stepsFadeInUp" data-plugin-options="{'accY': -200}">
                                        <h5 class="item-title"><span>@component.SortOrder.<br /></span>@Html.Raw(component.MainTitle)</h5>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<!-- Certificates -->
@if (Model.Certificates != null)
{
    <section class="section bg-dark-4">
        <div class="container">
            <div class="row justify-content-center text-center mb-4">
                <div class="col-11 col-md-9 col-lg-7">
                    <div class="overflow-hidden mb-2">
                        <h2 class="font-weight-bold text-color-light mb-0 appear-animation text-uppercase" data-appear-animation="maskUp" data-appear-animation-delay="200">@Html.Raw(Resources.Certificate)</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid lightbox" data-plugin-options="{'delegate': 'a', 'type': 'image', 'gallery': {'enabled': true}}">
            <div class="row justify-content-center appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="600">
                <div class="col-10 col-sm-8 col-md-12 overflow-hidden p-0">
                    <div class="owl-carousel carousel-center-active-items carousel-center-active-items-style-2 stage-py-1 dots-style-3 pb-4 mb-0" data-plugin-carousel data-plugin-options="{'autoplay': true, 'autoplayHoverPause': true, 'dots': false, 'nav': false, 'loop': true, 'margin': 40, 'responsive': { '0': {'items': 1}, '576': {'items': 1}, '768': {'items': 3}, '992': {'items': 3}, '1200': {'items': 5}}}">

                        @foreach (var certificate in Model.Certificates)
                        {
                            <div class="hover-effect-3">
                                <div class="card rounded p-0 overflow-hidden bg-transparent border-0">
                                    <div class="card-body p-0">
                                        <div class="image-frame">
                                            <a href="@certificate.Image" class="sw-view-site" data-sw-color="#2389ee" title="@certificate.Name">
                                                <img src="@certificate.Image" class="img-fluid" alt="@certificate.Name" title="@certificate.Name" />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<!-- Customer -->
<div class="section bg-light-5">
    <div class="container">
        <div class="row text-center mb-5">
            <div class="col">
                <div class="overflow-hidden mb-2">
                    <h2 class="font-weight-bold mb-0 appear-animation text-uppercase"
                        data-appear-animation="maskUp"
                        data-appear-animation-delay="200">
                        @Html.Raw(Resources.OurPartner)
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-3">
        <div class="row justify-content-center">
            <div class="col-10 col-sm-8 col-md-12 appear-animation"
                 data-appear-animation="fadeInUpShorter">
                <div class="owl-carousel carousel-center-active-items carousel-center-active-items-style-6 bottom-degrade pb-0 mb-5"
                     data-plugin-carousel
                     data-plugin-options="{'autoplay': true, 'autoplaySpeed': 2000, 'autoplayHoverPause': true, 'dragEndSpeed': 1000, 'dots': false, 'nav': false, 'loop': true, 'margin': 40, 'responsive': { '0': {'items': 3, 'margin': 20}, '576': {'items': 3}, '768': {'items': 3}, '992': {'items': 5}, '1200': {'items': 5}}}">
                    <div>
                        <div class="image-frame pb-2 mb-2 mb-sm-4">
                            <img src="~/Content/Frontend/img/logo/fabletics-960x638.png"
                                 class="img-fluid rounded"
                                 loading="lazy"
                                 alt="fabletics"
                                 title="fabletics" />
                        </div>
                        <div class="image-frame pb-2 mb-2 mb-sm-4">
                            <img src="~/Content/Frontend/img/logo/aritzia-960x500.png"
                                 class="img-fluid rounded"
                                 loading="lazy"
                                 alt="aritzia"
                                 title="aritzia" />
                        </div>
                        <div class="image-frame pb-2 mb-2 mb-sm-4">
                            <img src="~/Content/Frontend/img/logo/kuhl-960x566.png"
                                 class="img-fluid rounded"
                                 loading="lazy"
                                 alt="kuhl"
                                 title="kuhl" />
                        </div>
                        <div class="image-frame pb-2 mb-2 mb-sm-4">
                            <img src="~/Content/Frontend/img/logo/mountain-960x638.png"
                                 class="img-fluid rounded"
                                 loading="lazy"
                                 alt="mountain"
                                 title="mountain" />
                        </div>
                    </div>

                    <div>
                        <div class="image-frame pb-2 mb-2 mb-sm-4">
                            <img src="~/Content/Frontend/img/customers/uniqlo-real.png"
                                 class="img-fluid rounded"
                                 loading="lazy"
                                 alt="uniqlo"
                                 title="uniqlo" />
                        </div>
                        <div class="image-frame pb-2 mb-2 mb-sm-4">
                            <img src="~/Content/Frontend/img/customers/zaza-real.png"
                                 class="img-fluid rounded"
                                 loading="lazy"
                                 alt="zaza"
                                 title="zaza" />
                        </div>
                    </div>

                    <div>
                        <div class="image-frame pb-2 mb-2 mb-sm-4">
                            <img src="~/Content/Frontend/img/customers/hm-real.png"
                                 class="img-fluid rounded"
                                 loading="lazy"
                                 alt="hm"
                                 title="hm" />
                        </div>
                        <div class="image-frame pb-2 mb-2 mb-sm-4">
                            <img src="~/Content/Frontend/img/customers/mango-real.png"
                                 class="img-fluid rounded"
                                 loading="lazy"
                                 alt="mango"
                                 title="mango" />
                        </div>
                        <div class="image-frame pb-2 mb-2 mb-sm-4">
                            <img src="~/Content/Frontend/img/customers/jcp-real.png"
                                 class="img-fluid rounded"
                                 loading="lazy"
                                 alt="jcp"
                                 title="jcp" />
                        </div>
                    </div>

                    <div>
                        <div class="image-frame pb-2 mb-2 mb-sm-4">
                            <img src="~/Content/Frontend/img/customers/gap-real.png"
                                 class="img-fluid rounded"
                                 loading="lazy"
                                 alt="gap"
                                 title="gap" />
                        </div>
                        <div class="image-frame pb-2 mb-2 mb-sm-4">
                            <img src="~/Content/Frontend/img/logo/mountain-960x638.png"
                                 class="img-fluid rounded"
                                 loading="lazy"
                                 alt="mountain"
                                 title="mountain" />
                        </div>
                        <div class="image-frame pb-2 mb-2 mb-sm-4">
                            <img src="~/Content/Frontend/img/logo/aritzia-960x500.png"
                                 class="img-fluid rounded"
                                 loading="lazy"
                                 alt="aritzia"
                                 title="aritzia" />
                        </div>
                    </div>
                    <div>
                        <div class="image-frame pb-2 mb-2 mb-sm-4">
                            <img src="~/Content/Frontend/img/logo/kuhl-960x566.png"
                                 class="img-fluid rounded"
                                 loading="lazy"
                                 alt="kuhl"
                                 title="kuhl" />
                        </div>
                        <div class="image-frame pb-2 mb-2 mb-sm-4">
                            <img src="~/Content/Frontend/img/logo/vaude-960x638.png"
                                 class="img-fluid rounded"
                                 loading="lazy"
                                 alt="vaude"
                                 title="vaude" />
                        </div>
                        <div class="image-frame pb-2 mb-2 mb-sm-4">
                            <img src="~/Content/Frontend/img/logo/asics-855x300.png"
                                 class="img-fluid rounded"
                                 loading="lazy"
                                 alt="asics"
                                 title="asics" />
                        </div>
                        <div class="image-frame pb-2 mb-2 mb-sm-4">
                            <img src="~/Content/Frontend/img/logo/lululemon-960x404.png"
                                 class="img-fluid rounded"
                                 loading="lazy"
                                 alt="lululemon"
                                 title="lululemon" />
                        </div>
                    </div>
                    <div>
                        <div class="image-frame pb-2 mb-2 mb-sm-4">
                            <img src="~/Content/Frontend/img/logo/nike-960x465.png"
                                 class="img-fluid rounded"
                                 loading="lazy"
                                 alt="nike"
                                 title="nike" />
                        </div>
                        <div class="image-frame pb-2 mb-2 mb-sm-4">
                            <img src="~/Content/Frontend/img/logo/alo-720x553.png"
                                 class="img-fluid rounded"
                                 loading="lazy"
                                 alt="alo"
                                 title="alo" />
                        </div>
                        <div class="image-frame pb-2 mb-2 mb-sm-4">
                            <img src="~/Content/Frontend/img/logo/gymshark-960x501.png"
                                 class="img-fluid rounded"
                                 loading="lazy"
                                 alt="gymshark"
                                 title="gymshark" />
                        </div>
                    </div>
                    <div>
                        <div class="image-frame pb-2 mb-2 mb-sm-4">
                            <img src="~/Content/Frontend/img/logo/asics-855x300.png"
                                 class="img-fluid rounded"
                                 loading="lazy"
                                 alt="asics"
                                 title="asics" />
                        </div>
                        <div class="image-frame pb-2 mb-2 mb-sm-4">
                            <img src="~/Content/Frontend/img/logo/fabletics-960x638.png"
                                 class="img-fluid rounded"
                                 loading="lazy"
                                 alt="fabletics"
                                 title="fabletics" />
                        </div>
                        <div class="image-frame pb-2 mb-2 mb-sm-4">
                            <img src="~/Content/Frontend/img/logo/aritzia-960x500.png"
                                 class="img-fluid rounded"
                                 loading="lazy"
                                 alt="aritzia"
                                 title="aritzia" />
                        </div>
                        <div class="image-frame pb-2 mb-2 mb-sm-4">
                            <img src="~/Content/Frontend/img/logo/mountain-960x638.png"
                                 class="img-fluid rounded"
                                 loading="lazy"
                                 alt="mountain"
                                 title="mountain" />
                        </div>
                    </div>
                    <div>
                        <div class="image-frame pb-2 mb-2 mb-sm-4">
                            <img src="~/Content/Frontend/img/logo/aritzia-960x500.png"
                                 class="img-fluid rounded"
                                 loading="lazy"
                                 alt="aritzia"
                                 title="aritzia" />
                        </div>
                        <div class="image-frame pb-2 mb-2 mb-sm-4">
                            <img src="~/Content/Frontend/img/logo/ov-902x567.png"
                                 class="img-fluid rounded"
                                 loading="lazy"
                                 alt="ov"
                                 title="ov" />
                        </div>
                        <div class="image-frame pb-2 mb-2 mb-sm-4">
                            <img src="~/Content/Frontend/img/logo/nike-960x465.png"
                                 class="img-fluid rounded"
                                 loading="lazy"
                                 alt="nike"
                                 title="nike" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Contact Us -->
@Html.Partial("~/Views/Shared/_HomeContact.cshtml", Model.EmailContact)