<header id="header"
        class="header-effect-shrink"
        data-plugin-options="{'stickyEnabled': true, 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyStartAt': 30}">
    <div class="header-body">
        <div class="header-top">
            <div class="header-top-container container">
                <div class="header-row">
                    <!-- Info -->
                    @*<div class="header-column justify-content-start">
                            <h1 class="align-items-center text-uppercase"
                                style="margin-right: 20px; font-size: 1em;">
                                <i class="far fa-building"></i>
                                &nbsp; @Html.Raw(@Resources.CompanyName)
                            </h1>
                            <span class="d-none d-sm-flex align-items-center">
                                <i class="fas fa-map-marker-alt mr-1"></i>
                                @Html.Raw(@Resources.CompanyAddress)
                            </span>
                        </div>*@
                    <!-- Language -->
                    <div class="header-column justify-content-end">
                        <ul class="header-top-social-icons social-icons social-icons-transparent">
                            <li class="social-icons-facebook" style="cursor: pointer" onclick="onChangeLanguage('vi')">
                                <a title="Tiếng Việt">
                                    <img src="~/Content/Frontend/img/blank.gif"
                                         loading="lazy"
                                         class="flag flag-vn"
                                         alt="Tiếng Việt"
                                         title="Tiếng Việt" />
                                </a>
                            </li>
                            <li class="social-icons-facebook" style="cursor: pointer" onclick="onChangeLanguage('en')">
                                <a title="English">
                                    <img src="~/Content/Frontend/img/blank.gif"
                                         loading="lazy"
                                         class="flag flag-us"
                                         alt="English"
                                         title="English" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-container p-0">
            <div class="header-row">
                <!-- Social -->
                <div class="header-column justify-content-start">
                    <div class="header-logo border-left-0 px-4 d-lg-none">
                        <a href="#">
                            <img src="~/Content/Frontend/img/logo.png"
                                 loading="lazy"
                                 height="60"
                                 alt="@Html.Raw(Resources.CompanyName)"
                                 title="@Html.Raw(Resources.CompanyName)" />
                        </a>
                    </div>
                    <ul class="header-social-icons social-icons social-icons-transparent d-none d-lg-flex px-2 px-xl-4">
                        <li class="social-icons-facebook">
                            <a href="https://www.facebook.com/namthuan.vn"
                               target="_blank"
                               title="Facebook">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="social-icons-twitter">
                            <a href="http://www.twitter.com/"
                               target="_blank"
                               title="Twitter">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        @*<li class="social-icons-instagram">
                            <a href="https://drive.google.com/file/d/1PxzRfQRF0S9c_3fGE1gwE6csnBk0zQ5z/view?usp=sharing"
                               target="_blank"
                               title="E-Profile">
                                <i class="fas fa-file-alt"></i>
                            </a>
                        </li>*@
                    </ul>
                </div>
                <!-- Menu -->
                <div class="header-column justify-content-center">
                    <div class="header-nav justify-content-lg-center">
                        <div class="header-nav-main header-nav-main-effect-1 header-nav-main-sub-effect-1">
                            <nav class="collapse">
                                @helper a(string url, string title, bool isActive = false, bool hasChild = false)
                                {
                                    string active = (isActive == true) ? "active" : "";
                                    string dropdownToggle = (hasChild == true) ? "dropdown-toggle" : "";

                                    <a class="dropdown-item @dropdownToggle @active" title="@Html.Raw(title)" href="@url">@Html.Raw(title)</a>
                                }
                                <ul class="nav flex-column flex-lg-row align-items-center" id="mainNav">
                                    <!-- Trang chủ -->
                                    <li class="order-1">
                                        @a("/", Resources.MenuHome, ViewBag.currentMenu == "Home")
                                    </li>
                                    <!-- Giới thiệu -->
                                    <li class="dropdown order-2">
                                        @a("/about-us", @Resources.MenuAboutUs, ViewBag.currentMenu == "AboutUs", true)
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" title="@Html.Raw(Resources.AboutUs)" href="/about-us">@Html.Raw(Resources.AboutUs)</a></li>
                                            <li><a class="dropdown-item" title="@Html.Raw(Resources.DevelopmentHistory)" href="/about-us/development-history">@Html.Raw(Resources.DevelopmentHistory)</a></li>
                                        </ul>
                                    </li>
                                    <!-- Sản phẩm -->
                                    <li class="dropdown order-3">
                                        @a("/product-categories", @Resources.MenuProduct, ViewBag.currentMenu == "Products", true)
                                        @Html.Action("MenuProduct", "Layout")
                                    </li>
                                    <!-- CSR -->
                                    <li class="order-5">
                                        @a("/csr", @Resources.CSR, ViewBag.currentMenu == "CSR")
                                    </li>
                                    <!-- Tiêu chuẩn chất lượng -->
                                    <li class="order-6">
                                        @a("/certificates", @Resources.Certificate, ViewBag.currentMenu == "Certificate")
                                    </li>
                                    <!-- Liên hệ -->
                                    <li class="order-7">
                                        @a("/contact-us", @Resources.Contact, ViewBag.currentMenu == "Contact")
                                    </li>
                                    <!-- LOGO -->
                                    <li class="d-none d-lg-flex order-4 px-4">
                                        <span class="header-logo border-0">
                                            <a href="/" title="@Html.Raw(Resources.CompanyName)">
                                                <img src="~/Content/Frontend/img/logo.png"
                                                     loading="lazy"
                                                     title="@Html.Raw(Resources.CompanyName)"
                                                     alt="@Html.Raw(Resources.CompanyName)"
                                                     height="60" />
                                            </a>
                                        </span>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <!-- Call -->
                <div class="header-column justify-content-end">
                    <div class="header-button d-none d-sm-flex px-2 px-xl-4">
                        <a href="tel:@Html.Raw(Resources.CompanyPhoneNumber)"
                           title="@Html.Raw(Resources.CompanyPhoneNumber)"
                           class="btn btn-outline btn-rounded btn-primary btn-4 btn-icon-effect-1">
                            <span class="wrap">
                                <span>@Html.Raw(Resources.CompanyPhoneNumber)</span>
                                <i class="fas fa-phone"></i>
                            </span>
                        </a>
                    </div>
                    <button class="header-btn-collapse-nav mx-3"
                            data-toggle="collapse"
                            data-target=".header-nav-main nav">
                        <span class="hamburguer">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                        <span class="close">
                            <span></span>
                            <span></span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>

<script type="text/javascript">
    function onChangeLanguage(lang) {
        $.ajax({
            type: 'GET',
            url: '/Home/SetCulture?culture=' + lang,
            dataType: 'json',
            success: function (data) {
                location.reload();
            }
        })
    };
</script>