<header id="header"
        class="header-effect-shrink"
        data-plugin-options="{'stickyEnabled': true, 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyStartAt': 30}">
    <div class="header-body">
        <div class="header-top">
            <div class="header-top-container container">
                <div class="header-row">
                    <!-- Info -->
                    <div class="header-column justify-content-start">
                        <h1 class="align-items-center text-uppercase"
                            style="margin-right: 20px; font-size: 1em;">
                            <i class="far fa-building"></i>
                            &nbsp; @Html.Raw(@Resources.CompanyName)
                        </h1>
                        <span class="d-none d-sm-flex align-items-center">
                            <i class="fas fa-map-marker-alt mr-1"></i>
                            @Html.Raw(@Resources.CompanyAddress)
                        </span>
                    </div>
                    <!-- Language -->
                    <div class="header-column justify-content-end">
                        <ul class="header-top-social-icons social-icons social-icons-transparent">
                            <li class="social-icons-facebook" style="cursor: pointer" onclick="onChangeLanguage('vi')">
                                <a title="Tiếng Việt">
                                    <img src="~/Content/Frontend/img/blank.gif"
                                         class="flag flag-vn"
                                         alt="Tiếng Việt"
                                         title="Tiếng Việt" />
                                </a>
                            </li>
                            <li class="social-icons-facebook" style="cursor: pointer" onclick="onChangeLanguage('en')">
                                <a title="English">
                                    <img src="~/Content/Frontend/img/blank.gif"
                                         class="flag flag-us"
                                         alt="English"
                                         title="English" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-container p-0">
            <div class="header-row">
                <!-- Social -->
                <div class="header-column justify-content-start">
                    <div class="header-logo border-left-0 px-4 d-lg-none">
                        <a href="#">
                            <img src="~/Content/Frontend/img/logo.png"
                                 height="60"
                                 alt="@Html.Raw(Resources.CompanyName)"
                                 title="@Html.Raw(Resources.CompanyName)" />
                        </a>
                    </div>
                    <ul class="header-social-icons social-icons social-icons-transparent d-none d-lg-flex px-2 px-xl-4">
                        <li class="social-icons-facebook">
                            <a href="http://www.facebook.com/"
                               target="_blank"
                               title="Facebook">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="social-icons-twitter">
                            <a href="http://www.twitter.com/"
                               target="_blank"
                               title="Twitter">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="social-icons-instagram">
                            <a href="http://www.instagram.com/"
                               target="_blank"
                               title="Instagram">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- Menu -->
                <div class="header-column justify-content-center">
                    <div class="header-nav justify-content-lg-center">
                        <div class="header-nav-main header-nav-main-effect-1 header-nav-main-sub-effect-1">
                            <nav class="collapse">
                                @helper a(string url, string title, bool isActive = false, bool hasChild = false)
                                {
                                    string active = (isActive == true) ? "active" : "";
                                    string dropdownToggle = (hasChild == true) ? "dropdown-toggle" : "";

                                    <a class="dropdown-item @dropdownToggle @active" title="@Html.Raw(title)" href="@url">@Html.Raw(title)</a>
                                }
                                <ul class="nav flex-column flex-lg-row align-items-center" id="mainNav">
                                    <!-- Trang chủ -->
                                    <li class="order-1">
                                        @a("/", Resources.MenuHome, ViewBag.currentMenu == "Home")
                                    </li>
                                    <!-- Giới thiệu -->
                                    <li class="dropdown order-2">
                                        @a("/about-us", @Resources.MenuAboutUs, ViewBag.currentMenu == "AboutUs", true)
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" title="@Html.Raw(Resources.AboutUs)" href="/about-us">@Html.Raw(Resources.AboutUs)</a></li>
                                            <li><a class="dropdown-item" title="@Html.Raw(Resources.DevelopmentHistory)" href="/about-us/development-history">@Html.Raw(Resources.DevelopmentHistory)</a></li>
                                            <li><a class="dropdown-item" title="@Html.Raw(Resources.DevelopmentStrategy)" href="/about-us/development-strategy">@Html.Raw(Resources.DevelopmentStrategy)</a></li>
                                            <li><a class="dropdown-item" title="@Html.Raw(Resources.CorporateGovernance)" href="/about-us/corporate-governance">@Html.Raw(Resources.CorporateGovernance)</a></li>
                                            <li><a class="dropdown-item" title="@Html.Raw(Resources.SubordinateUnits)" href="/about-us/subordinate-units">@Html.Raw(Resources.SubordinateUnits)</a></li>
                                        </ul>
                                    </li>
                                    <!-- Sản phẩm -->
                                    <li class="dropdown dropdown-mega order-3">
                                        @a("/product-categories", @Resources.MenuProduct, ViewBag.currentMenu == "Products", true)
                                        <ul class="dropdown-menu">
                                            <li>
                                                <div class="dropdown-mega-content">
                                                    <div class="row">
                                                        <!-- Intro -->
                                                        <div class="col-lg-3 dropdown-mega-sub-content-block overlay overlay-show overlay-color-primary d-none d-lg-block"
                                                             data-plugin-image-background
                                                             data-plugin-options="{'imageUrl': '/Content/Frontend/img/menu/product.jpg'}">
                                                            <span class="top-sub-title text-color-light-2 d-block text-uppercase">@Html.Raw(Resources.Category)</span>
                                                            <span class="text-color-light font-weight-bold d-block text-4 mb-2">@Html.Raw(Resources.OurProduct)</span>
                                                            <br />
                                                            <a class="btn btn-dark btn-rounded btn-v-3 btn-h-2 content-block-button font-weight-semibold"
                                                               title="@Html.Raw(Resources.ShowAll)"
                                                               href="/product-categories">
                                                                @Html.Raw(Resources.ShowAll)
                                                            </a>
                                                        </div>
                                                        <!-- List -->
                                                        <div class="col-lg-3 ml-auto">
                                                            <span class="dropdown-mega-sub-title">SỢI</span>
                                                            <ul class="dropdown-mega-sub-nav">
                                                                <li>
                                                                    <a class="dropdown-item" title="@Html.Raw("")" href="/">@Html.Raw("Sợi nồi cọc")</a>
                                                                </li>
                                                                <li>
                                                                    <a class="dropdown-item" title="@Html.Raw("")" href="/">@Html.Raw("Sợi OE")</a>
                                                                </li>
                                                                <li>
                                                                    <a class="dropdown-item" title="@Html.Raw("")" href="/">@Html.Raw("Sợi Se")</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-lg-3">
                                                            <span class="dropdown-mega-sub-title">QUẦN ÁO DỆT KIM</span>
                                                            <ul class="dropdown-mega-sub-nav">
                                                                <li>
                                                                    <a class="dropdown-item" href="#">Quần áo nam</a>
                                                                </li>
                                                                <li>
                                                                    <a class="dropdown-item" href="#">Quần áo nữ</a>
                                                                </li>
                                                                <li>
                                                                    <a class="dropdown-item" href="#">Quần áo trẻ em</a>
                                                                </li>
                                                            </ul>
                                                            <span class="dropdown-mega-sub-title">VẢI DỆT KIM</span>
                                                            <ul class="dropdown-mega-sub-nav">
                                                                <li>
                                                                    <a class="dropdown-item" href="#">Sản phẩm 1</a>
                                                                </li>
                                                                <li>
                                                                    <a class="dropdown-item" href="#">Sản phẩm 2</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-lg-3">
                                                            <span class="dropdown-mega-sub-title">KHĂN</span>
                                                            <ul class="dropdown-mega-sub-nav">
                                                                <li>
                                                                    <a class="dropdown-item" href="#">Khăn bông</a>
                                                                </li>
                                                                <li>
                                                                    <a class="dropdown-item" href="#">Khăn tắm</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <!-- CSR -->
                                    <li class="order-5">
                                        @a("/csr", @Resources.CSR, ViewBag.currentMenu == "CSR")
                                    </li>
                                    <!-- Tiêu chuẩn chất lượng -->
                                    <li class="order-6">
                                        @a("/certificates", @Resources.Certificate, ViewBag.currentMenu == "Certificate")
                                    </li>
                                    <!-- Liên hệ -->
                                    <li class="order-7">
                                        @a("/contact", @Resources.Contact, ViewBag.currentMenu == "Contact")
                                    </li>
                                    <!-- LOGO -->
                                    <li class="d-none d-lg-flex order-4 px-4">
                                        <span class="header-logo border-0">
                                            <a href="/" title="@Html.Raw(Resources.CompanyName)">
                                                <img src="~/Content/Frontend/img/new-logo.jpg" title="@Html.Raw(Resources.CompanyName)" alt="@Html.Raw(Resources.CompanyName)" height="60" />
                                            </a>
                                        </span>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <!-- Call -->
                <div class="header-column justify-content-end">
                    <div class="header-button d-none d-sm-flex px-2 px-xl-4">
                        <a href="tel:@Html.Raw(Resources.CompanyPhoneNumber)"
                           title="@Html.Raw(Resources.CompanyPhoneNumber)"
                           class="btn btn-outline btn-rounded btn-primary btn-4 btn-icon-effect-1">
                            <span class="wrap">
                                <span>@Html.Raw(Resources.CompanyPhoneNumber)</span>
                                <i class="fas fa-phone"></i>
                            </span>
                        </a>
                    </div>
                    <button class="header-btn-collapse-nav mx-3"
                            data-toggle="collapse"
                            data-target=".header-nav-main nav">
                        <span class="hamburguer">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                        <span class="close">
                            <span></span>
                            <span></span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>

<script type="text/javascript">
    function onChangeLanguage(lang) {
        $.ajax({
            type: 'GET',
            url: '/Home/SetCulture?culture=' + lang,
            dataType: 'json',
            success: function (data) {
                location.reload();
            }
        })
    };
</script>