<!DOCTYPE html>
<html lang="vi" ⚡="" amp-version="2003101714470" class="i-amphtml-singledoc i-amphtml-standalone">
<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Language" content="VN">

    <title>Trang chủ | namthuangroup</title>

    <meta name="keywords" content="" />
    <meta name="description" content="@Html.Raw("")" />
    <meta name="language" content="vi" />
    <meta name="robots" content="archive,follow,imageindex,index,odp,snippet,translate" />
    <!--<meta name="revised" content="Sunday, July 18th, 2010, 5:15 pm" /> --><!-- Thời gian sửa đổi -->
    <meta name="author" content="hoanlk93@gmail.com" />
    <meta name="designer" content="hoanlk93@gmail.com" />
    <meta name="copyright" content="hoanlk93@gmail.com" />
    <meta name="reply-to" content="hoanlk93@gmail.com" />
    <meta name="owner" content="@Html.Raw("Nam Thuan Group")" />
    <meta name="url" content="https://www.namthuangroup.com" />
    <meta name="identifier-URL" content="https://www.namthuangroup.com" />
    <meta name="coverage" content="Worldwide" />
    <meta name="distribution" content="Global" />
    <meta name="rating" content="General" />
    <meta name="revisit-after" content="7 days" />
    <meta http-equiv="Expires" content="0" />

    <link rel="canonical" href="https://namthuangroup.com" />

    <!-- Declare that your website is family-safe -->
    <meta name="target" content="all" />
    <meta name="audience" content="all" />
    <meta name="coverage" content="Worldwide" />
    <meta name="distribution" content="Global" />
    <meta name="rating" content="safe for kids" />
    <meta name="application-name" content="Nam Thuan Group" />

    <!-- OpenGraph Meta Tags -->
    <meta name="fb:page_id" content="" />

    <meta name="og:site_name" content="@Html.Raw("Nam Thuan Group")" />
    <meta name="og:title" content="@Html.Raw("")" />
    <meta name="og:locale" content="vi_VN" />
    <meta name="og:type" content="website" />
    <meta name="og:url" content="https://www.namthuangroup.com" />
    <meta name="og:image" content="@(!string.IsNullOrEmpty(ViewBag.image) ? ViewBag.image : "")" />
    <meta name="og:image:secure_url" content="@(!string.IsNullOrEmpty(ViewBag.image) ? ViewBag.image : "")" />
    <meta name="og:description" content="@Html.Raw("")" />

    <meta name="og:email" content="" />
    <meta name="og:phone_number" content="" />
    <meta name="og:fax_number" content="" />

    <meta name="og:latitude" content="" />
    <meta name="og:longitude" content="" />
    <meta name="og:street-address" content="" />
    <meta name="og:locality" content="" />
    <meta name="og:region" content="" />
    <meta name="og:postal-code" content="180000" />
    <meta name="og:country-name" content="VietNam" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="@Html.Raw("")" />
    <meta name="twitter:title" content="@Html.Raw("")" />

    <meta name="geo.placename" content="@Html.Raw("Hải Phòng")" />
    <meta name="geo.region" content="VN" />
    <meta name="geo.position" content="" />
    <meta name="ICBM" content="" /> <!-- 21.123123, 105.345345345 -->
    <meta name="google-site-verification" content="" />

    <!-- Apple Meta Tags -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width = 320, initial-scale = 2.3, user-scalable = no" />
    <meta name="viewport" content="width = device-width" />
    <meta name="viewport" content="initial-scale = 1.0" />
    <meta name="viewport" content="initial-scale = 2.3, user-scalable = no" />
    <link rel="apple-touch-icon" href="" />
    <link rel="apple-touch-icon" sizes="57x57" href="" />
    <link rel="apple-touch-icon" sizes="60x60" href="" />
    <link rel="apple-touch-icon" sizes="72x72" href="" />
    <link rel="apple-touch-icon" sizes="76x76" href="" />
    <link rel="apple-touch-icon" sizes="114x114" href="" />
    <link rel="apple-touch-icon" sizes="120x120" href="" />
    <link rel="apple-touch-icon" sizes="144x144" href="" />
    <link rel="apple-touch-icon" sizes="152x152" href="" />
    <link rel="apple-touch-icon" sizes="180x180" href="" />
    <link rel="apple-touch-startup-image" href="" />
    <link rel="apple-touch-icon-precomposed" href="">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no" />

    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,600,700,900%7COpen+Sans:300,400,600,700,800" rel="stylesheet" type="text/css" />

    <!-- Vendor CSS -->
    <link href="~/Content/Frontend/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Frontend/vendor/fontawesome-pro-5.11.2/css/all.min.css" rel="stylesheet" />
    <link href="~/Content/Frontend/vendor/animate/animate.min.css" rel="stylesheet" />
    @*<link href="~/Content/Frontend/vendor/linear-icons/css/linear-icons.min.css" rel="stylesheet" />*@
    <link href="~/Content/Frontend/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/Frontend/vendor/owl.carousel/assets/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/Content/Frontend/vendor/magnific-popup/magnific-popup.min.css" rel="stylesheet" />
    <!-- Theme CSS -->
    <link rel="stylesheet" href="~/Content/Frontend/css/theme.min.css" />
    <link rel="stylesheet" href="~/Content/Frontend/css/theme-elements.css" />

    <!-- Current Page CSS -->
    <link href="~/Content/Frontend/vendor/rs-plugin/css/settings.css" rel="stylesheet" />
    @*<link href="~/Content/Frontend/vendor/rs-plugin/css/layers.css" rel="stylesheet" />*@
    @*<link href="~/Content/Frontend/vendor/rs-plugin/css/navigation.css" rel="stylesheet" />*@
    <!-- Skin CSS -->
    <link href="~/Content/Frontend/css/skins/default.css" rel="stylesheet" />

    <!-- Theme Custom CSS -->
    <link href="~/Content/Frontend/css/custom.css" rel="stylesheet" />

    <!-- Head Libs -->
    <script src="~/Content/Frontend/vendor/modernizr/modernizr.min.js"></script>

    <!-- Favicon Icon -->
    <link rel="icon" type="image/png" href="~/Content/Frontend/img/logo.png" />
    <link rel="shortcut icon" type="image/png" href="~/Content/Frontend/img/logo.png" />
</head>
<body>
    <div class="body">
        <!-- HEADER -->
        @Html.Partial("~/Views/Shared/_Header.cshtml")

        <!-- MAIN -->
        <div role="main" class="main">

            @RenderBody()

        </div>

        <!-- FOOTER -->
        @Html.Partial("~/Views/Shared/_Footer.cshtml")
    </div>

    <!-- Vendor -->
    <script src="~/Content/Frontend/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/Frontend/vendor/jquery.appear/jquery.appear.min.js"></script>
    <script src="~/Content/Frontend/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="~/Content/Frontend/vendor/jquery-cookie/jquery-cookie.min.js"></script>
    <script src="~/Content/Frontend/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/Frontend/vendor/common/common.min.js"></script>
    <script src="~/Content/Frontend/vendor/jquery.validation/jquery.validation.min.js"></script>
    <script src="~/Content/Frontend/vendor/jquery.easy-pie-chart/jquery.easy-pie-chart.min.js"></script>
    <script src="~/Content/Frontend/vendor/jquery.gmap/jquery.gmap.min.js"></script>
    <script src="~/Content/Frontend/vendor/jquery.lazyload/jquery.lazyload.min.js"></script>
    <script src="~/Content/Frontend/vendor/isotope/jquery.isotope.min.js"></script>
    <script src="~/Content/Frontend/vendor/owl.carousel/owl.carousel.min.js"></script>
    <!-- <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script> -->
    <!-- Theme Base, Components and Settings -->
    <script src="~/Content/Frontend/js/theme.js"></script>

    <!-- Current Page Vendor and Views -->
    <script src="~/Content/Frontend/vendor/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/Content/Frontend/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

    <!-- Theme Custom -->
    <script src="~/Content/Frontend/js/custom.js"></script>

    <!-- Theme Initialization Files -->
    <script src="~/Content/Frontend/js/theme.init.js"></script>

    <!-- Google -->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    @RenderSection("scripts", required: false)
</body>
</html>
